---
import { Container } from '@odyssey-theme/components';
import Layout from './Page.astro'; 
import { generateTagData } from '../utils/helpers';
import TechnologyRadarTable from '../components/TechnologyRadarTable.astro';

const {content: {title, description, publishDate, canonicalURL, featuredImage, tags, radar} } = Astro.props;

const allTagsData = generateTagData(tags);

const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};
---

<Layout seo={seo}> 
  <div class="trpost-header__container"> 
    <ul class="trpost-tags__list">
      {allTagsData.map(tag => (
        <li class="trpost-tags__tag">
          <a href={`/blog/tags/${tag.slug}`}>
            {tag.title}
          </a>
        </li>
      ))}
    </ul>
    <h1>{title}</h1>
    <p class="trpost-layout__date">
      <time><em>{publishDate}</em></time>
    </p>
    <img class="trpost-layout__img" src={featuredImage} alt={title} />
  </div>
  <Container>  
    <article id="article">
        <slot></slot>
    </article>
  </Container>
  <Container>
    <TechnologyRadarTable radar={radar}/>
  </Container>
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .trpost-header__container {
    max-width: var(--theme-blog-trpost-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .trpost-tags__list {
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }
  .trpost-tags__tag {
    text-transform: uppercase;
  }
  .trpost-tags__tag a {
    font-size: var(--font-size-sm);
    text-decoration: none;
  }
  .trpost-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
    height: 40vh;
    width: 80vw;
    object-fit: cover;
    object-position: bottom;
  }
  .trpost-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
</style>